<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            p {
            font-size: 30px;
            font-weight: bold;
            }

            button {
                font-size: 20px;
                padding: 5px 10px;
            }
        </style>
    </head>
    <body>
        <div >
            <p>{{Answer}}</p>
            <button name="return" onclick="window.location.href='/'">Enter a New Email</button>
        </div>
    </body>
</html>
