<!DOCTYPE html>
<html>
    <head>
        <title>Phishing Dectector</title>
        <style>
            .button_sub {
                display:block;
                cursor: pointer;
        }
        </style>
        <meta name="google-site-verification" content="rCnOo7_PNwKPEdP86XhyuyYk0n6wc1XPd6t-xkJOcsE" />
    </head>
    <body bgcolor="lightgrey">
        <h2>Email Phishing Detector</h2>
        <form action="answer" method="POST" style="display: flex; align-items: flex-start;">
            {% csrf_token %}
            <span>
                <textarea name="email" rows="30" cols="100" placeholder="Enter your email..."></textarea><br>
                <button type="submit" class="button_sub">Submit</button>
            </span>
            <span style="margin-left: 40px;">
                <h2>Instructions</h2>
                <p style="color: blue;">1. Copy and paste entire email into the text to the left</p>
                <p style="color: blue;">2. Once all is copied, scroll to the 'submit' button.</p>
            </span>
        </form>
    </body>
</html>
